[Unit]
Description=Awning Protector Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=mcdomx
Group=mcdomx
WorkingDirectory=/home/mcdomx/awning_protector
EnvironmentFile=/home/mcdomx/awning_protector/.env
ExecStart=/home/mcdomx/awning_protector/.venv/bin/python main.py
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
